{% extends 'base.html' %}
{% block title %}
A Game!
{% endblock %}
{% block content%}
    <form action="/madlib" method="POST">
    	Pick a name
    	<input type="text" name="name">
    	<br>
    	Pick a color
    	<select name="color">
    	<option value="blue">Blue</option>
    	<option value="red">Red</option>
    	<option value="green">Green</option>
    	<option value="purple">Purple</option>
    	<option value="peridot">Peridot</option>
    	</select>
    	<br>
    	Pick a noun
    	<input type="text" name="noun">
    	<br>
    	Pick an adjective
    	<label><input type="radio" name="adj" value="super">Super</label>
    	<label><input type="radio" name="adj" value="stinky">Stinky</label>
    	<label><input type="radio" name="adj" value="ghastly">Ghastly</label>
    	<label><input type="radio" name="adj" value="sparkly">Sparkly</label>
    	<br>
    	Pick some music genres!
    	<label class="container">
    	<input type="checkbox" name="music" value="country">Country
    	<span class="checkmark"></span></label>
    	<label class="container">
    	<input type="checkbox" name="music" value="pop">Pop
    	<span class="checkmark"></span></label>
    	<label class="container">
    	<input type="checkbox" name="music" value="rock">Rock
    	<span class="checkmark"></span></label>
    	<label class="container">
    	<input type="checkbox" name="music" value="polka">Polka
    	<span class="checkmark"></span></label>
    	<input type="submit" name="submit">
    	<br>
    </form>
{% endblock %}
