<!doctype html>
<html>
<head>
  <title>A Game!</title>
</head>
<body>
    
    <form action="/madlib">
    	Pick a name
    	<input type="text" name="name">
    	<br>
    	Pick a color
    	<select name="color">
    	<option value="blue">Blue</option>
    	<option value="red">Red</option>
    	<option value="green">Green</option>
    	<option value="purple">Purple</option>
    	<option value="peridot">Peridot</option>
    	</select>
    	<br>
    	Pick a noun
    	<input type="text" name="noun">
    	<br>
    	Pick an adjective
    	<label><input type="radio" name="adj" value="super">Super</label>
    	<label><input type="radio" name="adj" value="stinky">Stinky</label>
    	<label><input type="radio" name="adj" value="ghastly">Ghastly</label>
    	<label><input type="radio" name="adj" value="sparkly">Sparkly</label>
    	<br>
    	<input type="submit" name="submit">
    	<br>
    </form>
</body>
</html>