{% extends 'base.html' %}
{% block title %}
Madlib
{% endblock %}
{% block content%}
<h1>Your MadLib!</h1>

<p>{% if story == 1%}
One day while listening to their favorite {% for genre in music %}{{genre}}-{% endfor %}station, {{name}} tripped over their {{adj}} {{noun}}. Their foot turned {{color}}!
{%endif%}

{% if story == 2%}
One night while listening to their favorite {% for genre in music %}{{genre}}-{% endfor %}station, {{name}} tripped over their {{adj}} {{noun}}. Their foot turned {{color}}! </
{%endif%}
</p>
{% endblock %}
